.calculator {
  width: 300px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: darkseagreen;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);

}

#display {
  width: 80%;
  margin-bottom: 8px;
  padding: 7px;
  font-size: 20px;
  background-color: greenyellow;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.keys button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 25px;
  background-color: #ccc;
  border-radius: 20%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}
